 /* Style the tab */
.tab {
  background-color: white
}

/* Style the buttons that are used to open the tab content */
.tab button {
  cursor: pointer;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: grey
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: grey
}

/* Style the tab content */
.tabcontent {
  display: none;
} 