.background {
  background-color: #f0f2f5;
}

.text {
  font-family: sans-serif;
}

.nameCard {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  background-color: #007bff;
}

.btn:hover {
  background-color: blue;
}

img:hover {
  /* width: 100px;
  height: 100px; */
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .nameCard {
    flex-direction: column;
  }
}
